<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Jesse P.</h3>
      </div>

      <div class="text-center">@_jessepena_</div>
      <div class="text-center">
        <a href="http://www.instagram.com/_Jessepena_">www.instagram.com/_Jessepena_</a>
      </div>
    </div>
  </div>
</div>
